body {
	box-sizing: border-box;
	background: white;
	margin: 0;
	padding: 0;
	font-family: 'Chakra Petch', sans-serif;
	font-size: larger;
	height: 100vh;
	width: auto;
	color: var(--foreground);
	background: var(--background);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: rgb(121, 121, 121);
		--foreground: black;
	}
}

/************************ Header/NavBar *****************/

header {
	max-width: 1600px;
}

.navbar {
	height: 60px;
	width: 100%;
	background: rgb(198, 228, 248);
	display: flex;
	position: fixed;
	z-index: 999 !important;
	justify-content: space-between;
	border-bottom: 2px solid rgb(102, 164, 235);
}

.contLogo {
	height: 100%;
	display: flex;
	align-items: center;
	margin-left: 15px;
}

.contLogo p {
	font-size: 1.125rem;
	font-family: 'Merienda', cursive;
	color: #0353D3;
	font-size: larger;
}

.contItems {
	font-family: 'Red Rose', cursive;
	font-size: 1.375rem;
	margin-right: 15px;
	height: 100%;
	display: flex;
	align-items: center;
}

.items {
	padding: 10px;
	cursor: pointer;
	text-decoration: none;
	color: #0353D3;
	font-size: larger;
}

.items:hover {
	color: rgb(51, 146, 255);
}

.logoMenuImg {
	width: 30px;
	display: none;
	position: absolute;
	right: 20px;
	top: 13px;
}

@media screen and (max-width: 970px) {

	/* on fait apparaitre le logo */
	.logoMenuImg {
		display: block;
	}

	/* pour ne plus display flex les éléments */
	.navbar {
		display: block;
	}

	/* Pour espacer, fait à la fin */
	.items:nth-child(1) {
		padding-top: 20px;
	}

	.items {
		background: whitesmoke;
		/* pour la marge plus haut */
		margin-right: 0;
		padding: 10px 20px;
		width: 20%;
		display: block;
	}

	.contItems {
		display: none;
		border-top: 1px solid rgb(102, 164, 235);
	}

	/* Classe à toggle */
	.responsive {
		display: block;
	}
}

@media screen and (max-width: 710px) {
	.items {
		width: 30%;
	}
}

@media screen and (max-width: 490px) {
	.items {
		width: 40%;
	}
}

@media screen and (max-width: 380px) {
	.items {
		width: 50%;
	}
}


/********************* Section Profil *******************************/

#Profil .container {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	-moz-box-align: center;
	align-items: center;
	flex-direction: row;
	justify-content: space-evenly;
	padding-top: 100px;
	padding-bottom: 30px;
	overflow: auto;
}

.presentation {
	display: flex;
	max-width: 100%;
	flex-direction: column;
}

.presentation img {
	display: flex;
	z-index: 998 !important;
	max-width: 100%;
	align-self: center;
	-moz-box-align: center;
	align-items: center;
	flex-direction: column;
	height: auto;
	width: 200px;
	-moz-box-pack: center;
	justify-content: center;
	border-radius: 50%;
	box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
	overflow: hidden;
}

.presentation h1 {
	font-size: 2.125rem;
	margin: 15px;
	font-weight: 600;
	text-align: center
}

.presentation p {
	font-size: 1.125rem;
	text-align: center;
}

.coord {
	display: flex;
	flex-direction: column;
	max-width: 100%;
}

.coord span {
	padding-right: 10px;
}

.coord p {
	font-size: 1.125rem;
	margin: 5px 5px 15px 5px;
}

.coord a {
	color: black;
	margin: 5px 5px 15px 5px;
	text-decoration: none;
	font-size: 1.125rem;
}

.social {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.social img {
	height: 50px;
	padding: 15px;
	transition: all ease 4s;
}

.social img:hover {
	transition: 0.70s;
	-webkit-transition: 0.70s;
	-moz-transition: 0.70s;
	-ms-transition: 0.70s;
	-o-transition: 0.70s;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

.social img:active {
	transition: 0.70s;
	-webkit-transition: 0.70s;
	-moz-transition: 0.70s;
	-ms-transition: 0.70s;
	-o-transition: 0.70s;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

@media screen and (max-width: 650px) {
	#Profil .container {
		padding-top: 80px;
	}
}

/**************************** Section Description ***********************/

#description {
	display: flex;
	background-color: rgb(198, 228, 248);
	flex-direction: column;
	-moz-box-align: center;
	align-items: center;
}

#description .container {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	-moz-box-align: center;
	align-items: center;
	padding: 30px;
	overflow: auto;
}

#description h2 {
	font-family: 'Merienda', cursive;
	font-size: 1.875rem;
	margin: 20px;
}

#description p {
	margin: 20px;
}

#description img {
	height: 50px;
	width: 50px;
}

#description a {
	transform: scale(1);
	transition: transform 400ms;
}

#description a:hover {
	transform: scale(1.5);
}

#description a:active {
	transform: scale(1.5);
}

@media screen and (max-width: 650px) {
	#Profil .container {
		flex-direction: column;
		margin-left: 25px;
		padding-bottom: 0;
	}

	.coord {
		margin-top: 20px;
	}

	.coord p {
		margin: 5px 5px 5px 5px;
	}

	.coord a {
		margin: 5px 5px 5px 5px;
	}

	.presentation h1 {
		margin: 5px;
	}

	.presentation p {
		margin: 5px;
	}
}

/************************ Section Competences *****************/

#Competences {
	background-image: url(ressources/fondCompetence.png);
	display: flex;
	flex-direction: column;
	padding-top: 40px;
	overflow: auto;
	font-weight: bold;
}

#Competences .container {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

#Competences h2 {
	font-size: 1.875rem;
	font-family: 'Merienda', cursive;
	font-weight: bolder;
	padding-bottom: 10px;
	margin: 10px;
}

#Competences p {
	font-size: 1.125rem;
	margin: 5px;
}

#Competences h3 {
	font-size: 1.875rem;
	font-weight: bolder;
	padding-bottom: 10px;
	margin: 10px;
}

@media screen and (max-width: 650px) {
	#Competences {
		padding-top: 50px;
	}

	#Competences .container {
		margin-bottom: 15px;
		margin-left: 25px;
	}

	#Competences h2 {
		padding-bottom: 0;
		margin: 0px;
	}

	#Competences p {
		margin: 0;
	}

	#Competences h3 {
		padding-bottom: 0;
		margin: 5px;
	}
}

/************************* Section Realisation **********************/

#Realisation {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	padding-top: 40px;
	overflow: auto;
}

#Realisation .container {
	max-width: 1600px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

#Realisation h2 {
	font-size: 1.875rem;
	font-family: 'Merienda', cursive;
	padding-bottom: 10px;
	margin: 10px;
}

.cards-list {
	margin: auto;
	width: 100%;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.square:hover {
	-webkit-transform: translate(20px, -10px);
	-ms-transform: translate(10px, -10px);
	transform: translate(10px, -10px);
	-webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
	box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}


.square {
	width: 460px;
	height: 430px;
	margin: 25px;
	background: whitesmoke;
	border-radius: 4px;
	box-shadow: 0px 20px 50px #81a9f8;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.square img {
	clip: rect(0px, 460px, 220px, 0px);
	border-radius: 4px;
	position: absolute;
	width: 460px;
}

.square h1 {
	margin: auto;
	text-align: left;
	margin-top: 240px;
	padding-left: 30px;
	font-family: 'Merriweather', serif;
	font-size: 26px;
}

.square p {
	text-align: justify;
	padding-left: 30px;
	padding-right: 30px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: black;
	line-height: 18px;
}

.button {
	background-color: #0661B7;
	color: white;
	width: 90px;
	padding: 10px 18px;
	border-radius: 3px;
	text-align: center;
	text-decoration: none;
	display: block;
	margin-top: 20px;
	margin-left: 30px;
	margin-right: 70px;
}

@media all and (max-width: 520px) {
	.card-list {
		flex-direction: column;
	}

	.square {
		width: 80%;
		height: auto;
		margin: 20px;
	}

	.square img {
		width: 80%;
		height: auto;
	}

	.square h1 {
		margin-top: 220px;
		padding-left: 20px;
		font-size: 24px;
	}

	.square p {
		padding-left: 20px;
		padding-right: 20px;
	}

	.button {
		margin-bottom: 20px;
	}

	.square:hover {
		transform: none;
		box-shadow: none;
	}
}

@media all and (max-width: 470px) {
	.square h1 {
		margin-top: 200px;
	}

	.square:hover {
		transform: none;
		box-shadow: none;
	}
}

@media all and (max-width: 400px) {
	.square h1 {
		margin-top: 165px;
	}

	.square p {
		font-size: 12px;
	}

	.square:hover {
		transform: none;
		box-shadow: none;
	}
}

/************************* Section Expériences **********************/

#Experiences {
	background-color: rgb(198, 228, 248);
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	padding-top: 40px;
	overflow: auto;
}

#Experiences .container {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}

#Experiences h2 {
	font-size: 1.875rem;
	font-family: 'Merienda', cursive;
	padding-bottom: 20px;
}

.item-site img {
	height: 40px;
	margin-left: 13px;
}

.item-site .annees {
	font-size: 1.375rem;
	margin: 10px;
}

.item-site h3 {
	font-size: 1.25rem;
	margin-left: 25px;
}

.item-site p {
	font-size: 1.125rem;
	margin: 15px;
	margin-left: 25px;
	padding-bottom: 10px;
}

@media screen and (max-width: 650px) {
	#Experiences {
		padding-top: 50px;
	}

	#Experiences .container {
		margin-left: 25px;
	}

	#Experiences h2 {
		padding-bottom: 5px;
		margin: 10px;
	}

	.item-site .annees {
		margin: 5px;
	}

	.item-site h3 {
		margin: 5px 5px 5px 25px;
	}

	.item-site p {
		margin: 5px 5px 5px 25px;
		padding-bottom: 0px;
	}
}

/*********************** Section Formation *************************/

#Formations {
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	padding-top: 40px;
	overflow: auto;
}

#Formations .container {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

#Formations h2 {
	font-size: 1.875rem;
	font-family: 'Merienda', cursive;
	padding-bottom: 10px;
	margin: 15px;
}

#Formations h3 {
	font-size: 1.25rem;
	margin: 15px;
}

#Formations p {
	font-size: 1.125rem;
	margin: 15px;
}

#Formations span {
	font-size: 1.25rem;
	margin: 15px;
}

#Formations li {
	font-size: 1.375rem;
	margin: 10px;
	padding-top: 10px;
}

@media screen and (max-width: 650px) {
	#Formations {
		padding-top: 50px;
	}

	#Formations .container {
		margin-bottom: 10px;
		margin-left: 25px;
	}

	#Formations h2 {
		padding-bottom: 0;
		margin: 5px;
	}

	#Formations h3 {
		margin: 5px;
	}

	#Formations p {
		margin: 5px;
	}

	#Formations span {
		margin: 0;
		padding-bottom: 10px;
	}

	#Formations li {
		margin: 10px;
		padding-top: 0;
	}
}

/************************ Section Loisirs **************************/

#Loisirs {
	background-color: rgb(198, 228, 248);
	display: flex;
	flex-direction: column;
	padding-top: 30px;
	padding-bottom: 20px;
	overflow: auto;
}

#Loisirs .container {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}

#Loisirs h2 {
	font-size: 1.875rem;
	font-family: 'Merienda', cursive;
	padding-bottom: 10px;
}

#Loisirs img {
	margin: 5px;
	height: auto;
	width: 50px;
	transform: translatey(0px);
	animation: float 2s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}

	50% {
		transform: translatey(-20px);
	}

	100% {
		transform: translatey(0px);
	}
}

#Loisirs .ordi {
	margin: 5px;
	height: auto;
	width: 90px;
}

#Loisirs p {
	font-size: 1.125rem;
	padding-bottom: 10px;
}

@media screen and (max-width: 650px) {
	#Loisirs {
		padding-top: 30px;
		padding-bottom: 10px;
	}

	#Loisirs .container {
		margin-left: 25px;
	}

	#Loisirs h2 {
		padding-bottom: 0px;
	}

	#Loisirs p {
		padding-bottom: 5px;
		margin: 5px;
	}
}

/*********************** Footer ***********************/

footer {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	height: 25px;
	text-align: center;
	margin: 15px;
}

footer p {
	font-size: 1.125rem;
}