body {
	box-sizing: border-box;
	background: white;
	margin: 0;
	padding: 0;
	font-family: 'Chakra Petch', sans-serif;
	height: 100vh;
	width: auto;
}

/************************ Header/NavBar *****************/

header {
	max-width: 1600px;
}

.navbar {
	height: 60px;
	width: 100%;
	background: rgb(224, 255, 255);
	display: flex;
	position: fixed;
	z-index: 999 !important;
	justify-content: space-between;
	border-bottom: 2px solid rgb(202, 61, 207);
}

.contLogo {
	height: 100%;
	display: flex;
	align-items: center;
	margin-left: 15px;
}

.contLogo p {
	font-size: 1.125rem;
	font-family: 'Merienda', cursive;
	color: rgb(212, 0, 166);
}

.contItems {
	font-family: 'Red Rose', cursive;
	font-size: 1.375rem;
	margin-right: 15px;
	height: 100%;
	display: flex;
	align-items: center;
}

.items {
	padding: 10px;
	cursor: pointer;
	text-decoration: none;
	color: rgb(178, 5, 184);
}

.items:hover {
	color: rgb(255, 0, 255);
}

.logoMenuImg {
	width: 30px;
	display: none;
	position: absolute;
	right: 20px;
	top: 13px;
}

@media screen and (max-width: 700px) {
	/* on fait apparaitre le logo */
	.logoMenuImg {
		display: block;
	}
	/* pour ne plus display flex les éléments */
	.navbar {
		display: block;
	}
	/* Pour espacer, fait à la fin */
	.items:nth-child(1) {
		padding-top: 20px;
	}
	.items {
		background: rgb(224, 255, 255);
		/* pour la marge plus haut */
		margin-right: 0;
		padding: 10px 20px;
		width: 40%;
		display: block;
	}
	.contItems {
		display: none;
		border-top: 1px solid rgb(178, 5, 184);
	}
	/* Classe à toggle */
	.responsive {
		display: block;
	}
}

/********************* Section Profil *******************************/

#Prfol {
	background-color: white;
}

#Profil .container {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	-moz-box-align: center;
	align-items: center;
	flex-direction: row;
	justify-content: space-evenly;
	padding-top: 100px;
	padding-bottom: 30px;
	overflow: auto;
}

.presentation {
	display: flex;
	max-width: 100%;
	flex-direction: column;
}

.presentation img {
	display: flex;
	z-index: 998 !important;
	max-width: 100%;
	align-self: center;
	-moz-box-align: center;
	align-items: center;
	flex-direction: column;
	height: auto;
	width: 200px;
	-moz-box-pack: center;
	justify-content: center;
	border-radius: 50%;
	box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
	overflow: hidden;
}

.presentation h1 {
	font-size: 2.125rem;
	margin: 15px;
	font-weight: 600;
	text-align: center
}

.presentation p {
	font-size: 1.125rem;
	text-align: center;
}

.coord {
	display: flex;
	flex-direction: column;
	max-width: 100%;
}

.coord span {
	padding-right: 10px;
}

.coord p {
	font-size: 1.125rem;
	margin: 5px 5px 15px 5px;
}

.coord a {
	margin: 5px 5px 15px 5px;
	text-decoration: none;
	color: black;
	font-size: 1.125rem;
}

.social {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.social img {
	height: 50px;
	padding: 15px;
	transition: all ease 4s;
}

.social img:hover {
	transition: 0.70s;
	-webkit-transition: 0.70s;
	-moz-transition: 0.70s;
	-ms-transition: 0.70s;
	-o-transition: 0.70s;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

.social img:active {
	transition: 0.70s;
	-webkit-transition: 0.70s;
	-moz-transition: 0.70s;
	-ms-transition: 0.70s;
	-o-transition: 0.70s;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

@media screen and (max-width: 650px) {
	#Profil .container {
		padding-top: 80px;
	}
}

/**************************** Section Description ***********************/

#description {
	background-color: rgb(255, 213, 194);
	color: rgb(68, 68, 68);
	display: flex;
	flex-direction: column;
	-moz-box-align: center;
	align-items: center;
}

#description .container {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: column;
	-moz-box-align: center;
	align-items: center;
	padding: 30px;
	overflow: auto;
}

#description h2 {
	font-family: 'Merienda', cursive;
	font-size: 1.875rem;
	margin: 20px;
}

#description p {
	margin: 20px;
}

#description img {
	height: 50px;
	width: 50px;
}

#description a {
	transform: scale(1);
	transition: transform 400ms;
}

#description a:hover {
	transform: scale(1.5);
}

#description a:active {
	transform: scale(1.5);
}

@media screen and (max-width: 650px) {
	#Profil .container {
		flex-direction: column;
		margin-left: 25px;
		padding-bottom: 0;
	}
	.coord {
		margin-top: 20px;
	}
	.coord p {
		margin: 5px 5px 5px 5px;
	}
	.coord a {
		margin: 5px 5px 5px 5px;
	}
	.presentation h1 {
		margin: 5px;
	}
	.presentation p {
		margin: 5px;
	}
}

/************************ Section Compétences *****************/

#Competences {
	background-color: rgb(225, 238, 238);
	display: flex;
	flex-direction: column;
	padding-top: 40px;
	overflow: auto;
}

#Competences .container {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

#Competences h2 {
	font-size: 1.875rem;
	font-family: 'Merienda', cursive;
	padding-bottom: 10px;
	margin: 10px;
}

#Competences h4 {
	font-size: 1.437rem;
	padding-bottom: 10px;
	margin: 10px;
}

#Competences p {
	font-size: 1.125rem;
	margin: 5px;
}

progress {
	width: 80%;
	height: 20px;
	margin: 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: rgba(231, 217, 191, 0.753);
	border-radius: 5px;
	border: none;
}

progress::-webkit-progress-bar {
	background-color: rgb(238, 88, 205);
	border-radius: 5px;
	border: 1px solid rgba(51, 36, 187, 0.918);
	box-shadow: 4px 4px 6px rgb(39, 85, 211);
}

progress::-webkit-progress-value {
	border-radius: 5px;
	background-color: rgba(245, 245, 245, 0.521);
}

progress::-moz-progress-bar {
	background-color: rgb(238, 88, 205);
	border-radius: 5px;
	border: 1px solid rgba(51, 36, 187, 0.918);
	box-shadow: 4px 4px 6px rgb(39, 85, 211);
}

progress::-webkit-progress-value {
	border-radius: 5px;
	background-color: rgba(245, 245, 245, 0.521);
}

#Competences h5 {
	font-size: 1.437rem;
	padding-bottom: 10px;
	margin: 10px;
}

@media screen and (max-width: 650px) {
	#Competences {
		padding-top: 50px;
	}
	#Competences .container {
		margin-bottom: 15px;
		margin-left: 25px;
	}
	#Competences h2 {
		padding-bottom: 0;
		margin: 0px;
	}
	#Competences h4 {
		padding-bottom: 0;
		margin: 15px;
	}
	#Competences p {
		margin: 0;
	}
	progress {
		margin: 5px;
	}
	#Competences h5 {
		padding-bottom: 0;
		margin: 5px;
	}
}

/*********************** Section Formation *************************/

#Formations {
	background-color: rgba(238, 20, 238, 0.342);
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	padding-top: 40px;
	overflow: auto;
}

#Formations .container {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

#Formations h2 {
	font-size: 1.875rem;
	font-family: 'Merienda', cursive;
	padding-bottom: 10px;
	margin: 15px;
}

#Formations h3 {
	font-size: 1.25rem;
	margin: 15px;
}

#Formations p {
	font-size: 1.125rem;
	margin: 15px;
}

#Formations span {
	font-size: 1.25rem;
	margin: 15px;
}

#Formations li {
	font-size: 1.375rem;
	margin: 10px;
	padding-top: 10px;
}

@media screen and (max-width: 650px) {
	#Formations {
		padding-top: 50px;
	}
	#Formations .container {
		margin-bottom: 10px;
		margin-left: 25px;
	}
	#Formations h2 {
		padding-bottom: 0;
		margin: 5px;
	}
	#Formations h3 {
		margin: 5px;
	}
	#Formations p {
		margin: 5px;
	}
	#Formations span {
		margin: 0;
		padding-bottom: 10px;
	}
	#Formations li {
		margin: 10px;
		padding-top: 0;
	}
}

/************************* Section Expériences **********************/

#Experiences {
	background-color: rgb(248, 228, 241);
	display: flex;
	box-sizing: border-box;
	flex-direction: column;
	padding-top: 40px;
	overflow: auto;
}

#Experiences .container {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}

#Experiences h2 {
	font-size: 1.875rem;
	font-family: 'Merienda', cursive;
	padding-bottom: 20px;
}

.item-site img {
	height: 40px;
	margin-left: 13px;
}

.item-site .annees {
	font-size: 1.375rem;
	margin: 10px;
}

.item-site h3 {
	font-size: 1.25rem;
	margin-left: 25px;
}

.item-site p {
	font-size: 1.125rem;
	margin: 15px;
	margin-left: 25px;
	padding-bottom: 10px;
}

@media screen and (max-width: 650px) {
	#Experiences {
		padding-top: 50px;
	}
	#Experiences .container {
		margin-left: 25px;
	}
	#Experiences h2 {
		padding-bottom: 5px;
		margin: 10px;
	}
	.item-site .annees {
		margin: 5px;
	}
	.item-site h3 {
		margin: 5px 5px 5px 25px;
	}
	.item-site p {
		margin: 5px 5px 5px 25px;
		padding-bottom: 0px;
	}
}

/************************ Section Loisirs **************************/

#Loisirs {
	background-color: rgb(165, 212, 212);
	display: flex;
	flex-direction: column;
	padding-top: 30px;
	padding-bottom: 20px;
	overflow: auto;
}

#Loisirs .container {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}

#Loisirs h2 {
	font-size: 1.875rem;
	font-family: 'Merienda', cursive;
	padding-bottom: 10px;
}

#Loisirs img {
	margin: 5px;
	height: auto;
	width: 50px;
	transform: translatey(0px);
	animation: float 2s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

#Loisirs .ordi {
	margin: 5px;
	height: auto;
	width: 90px;
}

#Loisirs p {
	font-size: 1.125rem;
	padding-bottom: 10px;
}

@media screen and (max-width: 650px) {
	#Loisirs {
		padding-top: 30px;
		padding-bottom: 10px;
	}
	#Loisirs .container {
		margin-left: 25px;
	}
	#Loisirs h2 {
		padding-bottom: 0px;
	}
	#Loisirs p {
		padding-bottom: 5px;
		margin: 5px;
	}
}

/*********************** Footer ***********************/

footer {
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	height: 25px;
	text-align: center;
	margin: 15px;
}

footer p {
	font-size: 1.125rem;
}